body
  background: $color-body-bg
  // color: darken($color-body-txt, 10)
  color: $color-body-txt
  font-family: $font-family-body
  font-size: 1rem
  line-height: $line-height-body
  hyphens: auto
  -webkit-hyphens: auto
