<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ block "head" . }}
  {{ partial "head.html" . }}
  {{ end }}
</head>

<body>
  <main>
    <article class="{{ if .IsPage }}single{{ else }}list{{ end }}">
      <header>
        <h1>{{ if .Title }}{{.Title}}{{else}}{{.Site.Title}}{{end}}</h1>
        {{ block "header" . }}{{ end }}
      </header>

      {{ block "main" . }}{{ end }}

      <aside>
        <!-- <input type="checkbox" id="toggle-menu" checked> -->
        <input type="checkbox" id="toggle-menu">
        <label for="toggle-menu"></label>

        <div id="toggled-menu" class="toggled">
          {{ block "aside" . }}
          <div>
            {{ partial "aside.html" . }}
          </div>
          {{ end }}
        </div>
      </aside>
    </article>
  </main>
</body>

</html>
